@page
@model IndexModel
@{
    ViewData["Title"] = "Strona glowna";
}

<div class="text-center">
    <h1 class="display-4">Podaj liczbe od 1 do 1000</h1>

    <form method="post">
        <label asp-for="FizzBuzz.Number"></label>
        <input asp-for="FizzBuzz.Number" /><br />
    </form>

</div>
