@page
@model IndexModel
@{
    ViewData["Title"] = "Strona glowna";
}

<div class="text-center">
    <h1 class="display-4">Podaj liczbe od 1 do 1000</h1>

    <form method="post">
        <label asp-for="FizzBuzz.Number"></label>
        <input asp-for="FizzBuzz.Number" /><br />
        <button type="submit">Zatwierdź</button>
    </form>

    @if (Models.FizzBuzz.result == "Fizz")
    {
        <h1 class="display-4">Otrzymano: Fizz</h1>
    }
    else if (Models.FizzBuzz.result == "Buzz")
    { 
        <h1 class="display-4">Otrzymano: Buzz</h1>    
    }
    else if (Models.FizzBuzz.result == "FizzBuzz")
    {
        <h1 class="display-4">Otrzymano: FizzBuzz</h1>
    }
    else if(Models.FizzBuzz.result == "Liczba : " + Models.FizzBuzz.Number_2 + " nie spelnia kryteriow Fizz/Buzz")
    {
        <h1 class="display-4">Liczba @Models.FizzBuzz.Number_2 nie spelnia kryteriow Fizz/Buzz </h1>
    }
    else if(Models.FizzBuzz.result == "Blad.Podana liczba nie znajduje sie w zakresie")
    {
        <h1 class="display-4" style="color:red"><strong>Bląd.Podana liczba nie znajduje sie w zakresie</strong></h1>
    }


</div>
